<!DOCTYPE html>
<html lang="en">
<%- include('./templates/_head') %>
<body>
  <%- include('./templates/_header') %>

  <main>
    <p>var express = require('express');</p>
    <p>var app = express();</p>
    <p>app.listen(3000);</p>
  </main>

  <%- include('./templates/_footer') %>
</body>
</html>

<%# vi : set ft=html : %>
